// RADIUS
%border-radius-stack {
	border-radius: 40px 40px 40px 40px;
	-moz-border-radius: 40px 40px 40px 40px;
	-webkit-border-radius: 40px 40px 40px 40px;
	-ms-border-radius: 40px 40px 40px 40px;
	-o-border-radius: 40px 40px 40px 40px;
}
