// BETWEEN
%flexbox-between-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

%flexbox-between-stretch {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

// ALIGN
%flexbox-align-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

// ROW
%flexbox-row-center {
	display: flex;
	justify-content: center;
}

// COLUMN
%flexbox-column {
	display: flex;
	flex-direction: column;
}

%flexbox-column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

%flexbox-column-end {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
