%scrollbar {
	&::-webkit-scrollbar {
		height: 6px !important;
		width: 6px !important;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.2);
	}

	&::-webkit-scrollbar-track {
		background: rgba(255, 255, 255, 0.1);
	}
}

%scrollbar-y {
	overflow-y: auto !important;
	overflow-x: hidden !important;
}

%scrollbar-hidden {
	overflow: hidden !important;
}
