@import 'mixins/containers';
@import 'placeholders/scrollbar';
@import 'placeholders/flexbox';

ul {
	@include list-container(6.8rem 0 0 0, unset, 76.17vh, 83vh, 86vh, 89.8vh, 92.5vh, 94.2vh, 94.95vh);
	@extend %scrollbar-y;
	@extend %flexbox-column;
	width: 100%;
	background-color: white;

	li {
		@extend %flexbox-between-stretch;
		cursor: pointer;
		padding: 0.5rem 0.8rem;
		border-top: 1px solid var(--beige-light-3);

		&:hover {
			background-color: var(--beige-light-2);
		}

		&[isClicked='true'] {
			background-color: var(--beige-dark-2);
		}

		app-userfriend-last-messages-container {
			flex: 1 1 auto;
		}
	}
}
