<ul>
	<li *ngFor="let latestMessage of latestMessageList; let i = index" (click)="onclick.emit(latestMessage)" [attr.isClicked]="latestMessage.user.isClicked">
		<app-avatar [isBig]="true" [src]="latestMessage.user.avatar" [alt]="latestMessage.user.full_name"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="latestMessage.informations.isNewLastMessage"
			[username]="latestMessage.user.full_name"
			[lastmessage]="latestMessage.informations.latestMessage.text"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="latestMessage.informations.isNewLastMessage"
			[lastMessageTime]="latestMessage.informations.latestMessage.time"
			[lastMessageAmount]="latestMessage.informations.total"
		></app-userfriend-last-messages-information-container>
	</li>
</ul>
