<ul>
	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS30'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>
	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>
	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>
	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>
	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>
	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>
	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>
	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>
	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>
	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>
	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>
	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>
	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>
	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>
	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>
	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>
	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>
	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>
	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>
	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>
	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>

	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="false"
			[username]="'THIAGO DE BONIS1'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="false"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>
	<li>
		<app-avatar [isBig]="true" [src]="'assets/images/users/billgates.jpg'" [alt]="'INSERIR DEPOIS'"></app-avatar>
		<app-userfriend-last-messages-container
			[isNewLastMessage]="true"
			[username]="'THIAGO DE BONIS100'"
			[lastmessage]="'mas mais tarde dps da minha aula a gente joga uma'"
		></app-userfriend-last-messages-container>
		<app-userfriend-last-messages-information-container
			[isNewLastMessage]="true"
			[lastMessageTime]="'14:24'"
			[lastMessageAmount]="9"
		></app-userfriend-last-messages-information-container>
	</li>
</ul>
