@import 'mixins/breakpoints';

body {
	overflow: hidden !important;
	position: fixed;
	width: 100%;

	app-root {
		@extend .scrollbar-grey-large;
		@extend .scrollbar-auto;
		@extend .hv-100;
		@extend .d-flex;
		@extend .bg-linear-gradient;
		overflow: hidden !important;

		@include breakpoint-desktop {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
