:root {
	--beige-light: #f7f7f7;
	--beige-dark-1: #ededed;
	--beige-dark-2: #ebebeb;
	--beige-dark-3: #dadbd5;
	--beige-dark-4: #e0e4e5;
	--beige-dark-5: #e5ddd5;
	--moss-dark: #dcf8c6;
	--blue-light: #4fc3f7;
	--blue-dark: #33b7f6;
	--green-light: #02d1a4;
	--green-dark-1: #06d755;
	--green-dark-2: #009688;
	--grey-dark-1: #00000014;
	--grey-dark-2: #0000000d;
	--grey-dark-3: #00000021;
	--grey-dark-4: #0000004d;
	--black-dark-1: #00000073;
	--black-dark-2: #000000cc;
	--black-dark-3: #00000099;
	--concrete-light-1: #919191;
	--concrete-light-2: #999;
	--concrete-dark-1: #4a4a4a;
	--concrete-dark-2: #303030;
}
