:root {
	--blue-light-1: #4fc3f7;
	--green-dark-1: #06d755;
	--green-light-1: #dcf8c6;
	--salmon-light-1: #e5ddd5;
	--grey-light-1: #f5f5f5;
	--grey-light-2: #f7f7f7;
	--grey-light-3: #ededed;
	--grey-light-4: #e5e5e6;
	--grey-dark-1: #919191;
	--grey-dark-2: #4a4a4a;
	--grey-dark-3: #303030;
	--grey-transparent-1: rgba(245, 245, 245, 0.336);
	--black-transparent-1: rgba(0, 0, 0, 0.014);
	--black-transparent-2: rgba(0, 0, 0, 0.13);
	--black-transparent-3: rgba(0, 0, 0, 0.45);
}
