@import 'mixins/breakpoints';

@mixin list-container(
	$paddingMaxTablet,
	$paddingDesktop,
	$heightDesktop,
	$heightDesktopLarge,
	$heightDesktopExtraLarge,
	$heightDevices3k,
	$heightDevices4k,
	$heightDevices6k,
	$heightDevices8k
) {
	@include breakpoint-max-tablet {
		height: 100vh;
		padding: $paddingMaxTablet;
	}

	@include breakpoint-desktop {
		height: $heightDesktop;
		padding: $paddingDesktop;
	}

	@include breakpoint-desktop-large {
		height: $heightDesktopLarge;
	}

	@include breakpoint-desktop-extra-large {
		height: $heightDesktopExtraLarge;
	}

	@include breakpoint-devices-3k {
		height: $heightDevices3k;
	}

	@include breakpoint-devices-4k {
		height: $heightDevices4k;
	}

	@include breakpoint-devices-6k {
		height: $heightDevices6k;
	}

	@include breakpoint-devices-8k {
		height: $heightDevices8k;
	}
}
