$FULL_PATH_RELATIVE_RELATIVE: 'assets/fonts';
$FONT_TYPE_MAP: (
	'Regular': normal,
	'Bold': bold,
);

/* prettier-ignore */
@mixin createFontface($FONT_NAME) {
	@if $FONT_NAME == 'SegoeUI' {
		@each $FONT_TYPE, $FONT_WEIGHT in $FONT_TYPE_MAP {
			$FONT_FULL_NAME: '#{$FONT_NAME}-#{$FONT_TYPE}';
			$FULL_PATH_RELATIVE: #{$FULL_PATH_RELATIVE_RELATIVE}/#{to-lower-case($FONT_NAME)}/#{$FONT_FULL_NAME};

			@font-face {
				font-family: $FONT_NAME;
				font-style:  normal;
				font-weight: $FONT_WEIGHT;
				src: url('#{$FULL_PATH_RELATIVE}.eot');
				src: url('#{$FULL_PATH_RELATIVE}.eot?#iefix')  format('embedded-opentype'),
						 url('#{$FULL_PATH_RELATIVE}.woff')        format('woff'),
						 url('#{$FULL_PATH_RELATIVE}.ttf')         format('truetype');
			}
		}
	} @else {
		@error 'The font #{$FONT_NAME} does not exist in the project!';
	}
}
