@import 'mixins/breakpoints';

progress {
	&[value] {
		height: 5px;
		-webkit-appearance: none;
		appearance: none;

		@include breakpoint-smartphone {
			width: 200px;
		}

		@include breakpoint-smartphone-large {
			width: 400px;
		}

		&::-webkit-progress-bar {
			background-color: var(--beige-dark-4);
			border-radius: 0;
		}

		&::-webkit-progress-value {
			background-color: var(--green-light);
		}
	}
}
