@import 'mixins/breakpoints';
@import 'themes/utils';

progress {
	&[value] {
		@extend .appearence-none;
		height: 5px;

		@include breakpoint-smartphone {
			width: 200px;
		}

		@include breakpoint-smartphone-large {
			width: 400px;
		}

		&::-webkit-progress-bar {
			background-color: var(--brown-light-7);
			border-radius: 0;
		}

		&::-webkit-progress-value {
			background-color: var(--green-light-3);
		}
	}
}
