@import 'themes/borders';

img {
	object-fit: cover;

	&[sizeTheme='DEFAULT'] {
		height: 2.5rem;
		width: 2.5rem;
	}

	&[sizeTheme='LARGE'] {
		height: 3.0625rem;
		width: 3.0625rem;
	}

	&[borderTheme='ROUNDED'] {
		@extend .border-radius-rounded;
	}
}
