<app-loading-container *ngIf="store.isLoading$ | async; else loadingComplete" [isLoading$]="store.isLoading$"></app-loading-container>

<ng-template #loadingComplete>
	<app-chat-aside-container
		[userMain]="userStore.main$ | async"
		[userFriendSelected]="userStore.friendSelected$ | async"
		[lastMessagesList]="chatStore.getFriendLastMessagesList$(userStore.friends$ | async) | async"
	></app-chat-aside-container>

	<app-chat-main-container
		[userFriendSelected]="userStore.friendSelected$ | async"
		[chatMessagesList]="chatStore.getChatMessagesById$((userStore.friendSelected$ | async)?.id) | async"
	></app-chat-main-container>
</ng-template>
