@import 'mixins/breakpoints';
@import 'themes/flexbox';
@import 'themes/sizes';
@import 'themes/colors';

div {
	@extend .d-flex-column;
	@extend .bg-white;

	@include breakpoint-smartphone {
		position: absolute;
		height: 100vh;
		width: 100%;
	}

	@include breakpoint-desktop {
		position: relative;
		display: flex !important;
		height: 96vh;

		&[sizeTheme='DEFAULT'] {
			width: 27rem;
		}

		&[sizeTheme='LARGE'] {
			width: 60rem;
		}
	}
}
