<div [attr.isUserFriendMessage]="isUserFriendMessage">
	<app-chat-message
		[text]="
			'testandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandoooooooooootestandooooooooooooooooooooooo'
		"
	></app-chat-message>
	<app-chat-balloon-information-container></app-chat-balloon-information-container>
</div>
