@import 'placeholders/flexbox';

span {
	@extend %flexbox-align-center;
	height: 22px;
	width: 22px;
	padding: 0 0.1rem 0.15rem 0;
	font-size: 0.75rem;
	font-weight: 600;
	color: white;
	border-radius: 100%;
	background-color: var(--green-dark-1);
}
