<app-global-container [borderLeft]="'1px solid var(--grey-dark-2)'" [borderBottom]="'1px solid var(--grey-dark-3)'">
	<app-icon [name]="'arrown-back'" [margin]="'0 2rem 0 0'"></app-icon>
	<app-avatar [isBig]="false" [src]="avatar" [alt]="avatarAlt"></app-avatar>
	<app-username [text]="username" [padding]="'0 0.9rem 0.3rem 0.9rem'"></app-username>
	<app-icon-controller-container>
		<app-icon [name]="'search'" [height]="'30px'" [width]="'30px'" [margin]="'0 0 0 1.5rem'"></app-icon>
		<app-icon [name]="'clip'" [margin]="'0 0 0 1.5rem'"></app-icon>
		<app-icon [name]="'more-options'" [margin]="'0 0 0 1.5rem'"></app-icon>
	</app-icon-controller-container>
</app-global-container>
