<ul>
	<li>
		<app-chat-balloon-container [isUserFriendMessage]="true"></app-chat-balloon-container>
	</li>
	<li><app-chat-balloon-container [isUserFriendMessage]="false"></app-chat-balloon-container></li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>aaaaaaaaa</li>
	<li>ccccccccccc</li>
</ul>
