@import 'mixins/containers';
@import 'placeholders/scrollbar';
@import 'placeholders/flexbox';

ul {
	@include list-container(0.5rem 1rem 8rem 1rem, 1rem 5.3rem, 75.1vh, 82vh, 85vh, 89vh, 92vh, 94vh, 95vh);
	@extend %scrollbar-y;
	@extend %flexbox-column;
	width: 100%;
	background: var(--beige-dark-5) url('assets/images/bg.png') repeat scroll;
	background-blend-mode: soft-light;

	li {
		margin: 0.5rem 0;
	}
}
