@import 'base/colors';
@import 'base/reset';
@import 'mixins/typography';
@import 'mixins/breakpoints';
@import 'placeholders/scrollbar';
@import 'placeholders/shadows';

@include createFontface('SegoeUI');

body {
	@extend %scrollbar-hidden;

	@include breakpoint-desktop {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(to top, var(--beige-dark-3) 78.7%, var(--green-dark-2) 0%);
	}

	app-root {
		@extend %shadow-main;
		background-color: white;

		@include breakpoint-desktop {
			display: flex;
		}
	}
}
