@import 'base/colors';
@import 'base/reset';
@import 'mixins/typography';
@import 'mixins/breakpoints';
@import 'placeholders/scrollbar';

@include createFontface('SegoeUI');

body {
	@extend %scrollbar-hidden;
	height: 100vh;
	background-color: red;

	@include breakpoint-desktop {
		display: flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(to top, #dadbd5 78.7%, #009688 0%);
	}
}
