@import 'mixins/breakpoints';

div {
	padding: 0.4rem 0.5rem;
	display: flex;
	background-color: var(--beige-light-1);
	border-bottom: 1px solid var(--grey-dark-1);

	&[isClicked='true'] {
		background-color: white;
	}

	@include breakpoint-max-tablet {
		width: 100%;
		position: fixed;
		margin-top: 3.7rem;
	}

	app-search-message-form {
		flex: 1 1 auto;
	}
}
