<div [attr.isClicked]="isClicked">
	<app-icon *ngIf="!isClicked" [name]="'search'" [fill]="'#0000004d'" [position]="'absolute'" [margin]="'0.4rem 0 0 0.9rem'"></app-icon>
	<app-icon
		*ngIf="isClicked"
		(onclick)="setBackConfig()"
		[name]="'arrown-back'"
		[fill]="'#33B7F6'"
		[position]="'absolute'"
		[margin]="'0.4rem 0 0 0.9rem'"
	></app-icon>
	<app-search-message-form #searchMessageFormComponent [fmGroup]="searchMessageForm" [isClicked]="isClicked"></app-search-message-form>
	<app-icon *ngIf="isFormValid" (onclick)="clearInput()" [name]="'close'" [fill]="'#0000004d'" [margin]="'0.4rem .3rem 0 0'"></app-icon>
</div>
