@import 'placeholders/utils';
@import 'placeholders/borders';

input {
	@extend %text-ellipsis;
	width: 100%;
	font-size: 0.9375rem;
	border: none;
	background-color: white;
	color: #4a4a4a;

	&::placeholder {
		color: #999;
	}

	&[style='border-stack-big'],
	&[style='border-stack-small'] {
		@extend %border-radius-stack;
	}

	&[style='border-stack-big'] {
		padding: 0.7rem 1rem;

		&::placeholder {
			font-size: 1rem;
		}
	}

	&[style='border-stack-small'] {
		padding: 0.5rem 2rem 0.5rem 4rem;

		&::placeholder {
			font-size: 0.875rem;
		}
	}
}
